{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}
{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

<div class="post-index-wrapper">
    <h1>Posts! ✅</h1>
    <h2>List of all posts.</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>ID</td>
                <td>Title</td>
                <td>Show</td>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>
                    <a href="{{ path('post.show', { id: post.id }) }}"> {{ post.title }} </a>
                </td>
                <td>
                    <a class="text-danger"
                       href="{{ path('post.remove', { id: post.id }) }}"
                    > Delete </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
